<h1 class="Pages-Heading">Hello <span class="Pages-World">World</span></h1>

<div id="container" class="Pages-container"></div>
<script>
  let container = document.getElementById('container');
  const friends = ["Ray", "Oscar", "Gwen", "Bob", "Marie"];

  friends.forEach(function(element) {
      let commentElement = document.createElement('p');
      commentElement.className = 'Pages-friend';
      commentElement.innerText = `Hello ${element}`;
      container.appendChild(commentElement);
  });

  let children = container.children;
  let arr = Object.keys(children).map(function (key) { return children[key]; });
  while (arr.length) {
      container.append(arr.splice(Math.floor(Math.random() * arr.length), 1)[0]);
  }
</script>
